#screen {
	display: block;
	margin: 0 auto;
	padding: 0px;
	position: relative;
	}

#container {
	display: inline-block;
	border: 3px solid black;
}

#canvas {
	display: inline-block;
	border: 1px solid black;
	/*position: absolute;
	top: 50%;
	left: 0%;
	display: block;*/
	/*width: 500px;
	height: 200px;*/
}

#tools {
	display: inline-block;
	/*position: absolute;*/
	/*top: 0px;
	right: 0px;*/
	/*text-align: center;*/
	/*margin: 0 auto;*/
	/*float: right;*/
	background: grey;
	/*height: 200px;*/
}

#tools ul {
	display: inline-block;
	list-style-type: none;
	text-align: center;
	margin: 0 auto;
	padding: 0;
}